* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3f7ff;
  height: 100vh;
  overflow: hidden;
}

.game {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.control {
  display: flex;
  justify-content: center;
  /* Taustaväri nyt määritelty sisäisessä style‐lohossa */
}

.btn-control {
  width: 100px;      /* pienennetty napin koko */
  height: 100px;
  margin: 0 10px;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #40407a;
  border: 8px solid #2c2c54;
  color: #fff;
  cursor: pointer;
}

.btn-control:active {
  background-color: #706fd3;
  border-color: #474787;
}

.start-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 32px;
  font-size: 24px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 12px;
  z-index: 1000;
  pointer-events: auto;
}
.start-button.hidden {
  display: none;
}